* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      rgb(99, 96, 99),
      rgb(86, 84, 88),
      rgb(84, 84, 85),
      rgb(53, 54, 53)
    );
    opacity: 0.8;
  }
  


header{
    padding: 10px;
    background-color: orange;

    h1 {
        margin-left: 15%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.commandPanel{
    margin: 2em auto 1em auto;
    padding: 1em;
    width: 70%;
    display: flex;
    box-shadow: 0px 0px 1px 2px rgb(235, 233, 233);
    border-radius: 5px;

    dialog {
        margin: 200px auto;
        position: fixed;
        padding: 1em;
        border: none;
        border-radius: 5px;

        form{
            display: flex;
            flex-direction: column;
            gap: 1em;

            div {
                display: flex;
                flex-direction: column;

                label{
                    font-size: 14px;
                }

                input {
                    border: 1px solid rgb(207, 207, 207);
                    border-radius: 5px;
                    padding: 3px;
                }
            }

            div:last-child{
                flex-direction: row;
                gap: 2em;
            }
            
        }
    }

    button {
        background-color: orange;
        padding: 5px;
        width: 150px;
        border-radius: 5px;
    }
}



.booksContainer{
    margin: 0px auto;
    padding: 1em;
    width: 70%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr));
    gap: 1.5em;
    justify-content: left;
    

    .bookCard{
        position: relative;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 1px 2px rgb(235, 233, 233);
        height: 250px;
        text-align: center;
        border-radius: 5px;
        overflow-x: hidden;

        h3{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: orange;
            width: 100%;
            height: 50px;
            font-size: 16px;
            box-sizing: border-box;
            padding: 5px 25px;
        }

        .bookMenuIcon{
            font-size: 28px;
            position: absolute;
            right: 10px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            cursor:pointer;
        }

        .bookMenuHide{
            visibility: hidden;
        }

        .bookMenu{
            position: absolute;
            right: 5px;
            top: 55px;
            width: 100px;
            height: fit-content;
            box-shadow: 0px 0px 1px 2px rgb(235, 233, 233);

            ul {
                padding: 0px;
                margin: 0px;
                display: flex;
                justify-content: left;
                flex-direction: column;
                width: 100%;

                li:hover{
                    background-color: rgb(183, 142, 224);
                    cursor:pointer;
                }
            }
            
        }

        
    }

}